<app-header></app-header>
<div class="container">
  <h1>Create Your Account</h1>
  <form id="registrationForm" >
    <div class="form-group">
      <div class="inside">
        <label for="title">Title</label>
        <select id="title" name="title" required [(ngModel)]="userRegistrationData.title">
          <option value="Mr.">Mr.</option>
          <option value="Mrs.">Mrs.</option>
        </select>
      </div>
      <div class="inside name">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" required [(ngModel)]="userRegistrationData.firstName">
      </div>
      <div class="inside name">
        <label for="middleName">Middle Name</label>
        <input type="text" id="middleName" name="middleName" [(ngModel)]="userRegistrationData.middleName">
      </div>
    </div>
    <div class="form-group">
      <div class="inside name">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" required [(ngModel)]="userRegistrationData.lastName">
      </div>
      <div class="inside displayname">
        <label for="displayName">Username</label>
        <input type="text" id="displayName" name="displayName" required [(ngModel)]="userRegistrationData.displayName">
      </div>
    </div>

    <div class="form-group">
      <div class="inside bunk">
        <label for="preferredBunk">Preferred Bunk</label>
        <select id="preferredBunk" name="preferredBunk" required [(ngModel)]="userRegistrationData.preferredBunkType.name">
          <option *ngFor="let bunkProvider of bunkProviderList" value={{bunkProvider}}>{{bunkProvider}}</option>
        </select>
      </div>
      <div class="inside cell">
        <label for="mobileNo">Mobile Number</label>
        <input type="tel" id="mobileNo" name="mobileNo" required pattern="[0-9]{10}" value="+91" maxlength="13"
          [(ngModel)]="userRegistrationData.mobile">
      </div>
    </div>
    <div class="form-buttons">
      <button (click)="submitForm()">Submit</button>
    </div>
  </form>
  <div class="bottom">
    <h4>Already registered? Click here to <span routerLink="/login" class="login_label">Login</span></h4>
  </div>
</div>
